<?php

$_ENV['ENVIRONMENT'] = 'DESENV';

$_ENV['DB_DRIVER'] = 'mysql';
$_ENV['DB_HOST'] = 'localhost';
$_ENV['DB_PORT'] = '3306';
$_ENV['DB_DATABASE'] = 'cooper_leite';
$_ENV['MYSQL_USER'] = 'root';
$_ENV['MYSQL_PASS'] = 'mysql';

